<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Links</h1>
</div>
<div class="container">
  <% @links.each do |link| %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link %><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></s>
      </h2>
    </div>
  <% end  %>
</div>
